  
.GridListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
  .GridListContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .GridListContainer {
    grid-template-columns: 1fr;
  }
}