.CharactersWrapper{
  background-color: #87c9a2;
}
.CharactersTitle {
  margin:0;
  padding:20px;
  font-size: 60px;
}
.InputEmployees {
  min-width:10%;
  height:30px;
  margin-right: 20px;
  margin-top:20px;
  border-radius:6px;  
}
.ChactersText {
  padding:20px;
  font-weight: normal;
}