
.CardContainer {
  border-radius: 50px;
  margin:auto;
  width: 60%;
}
@media (max-width: 767px) {
  .CardContainer {
    width: 90%;
    margin: auto;
  }
}

.ExpirationDateContainer {
  background-color: yellow;
  width: 300px;
  margin:auto;
}