
.BarMenu {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #2e1d19;
  height: 70px;
}

.flexDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.menuText{
  padding: 2px;
  font-size: 20px;
  color:white;
}
@media (max-width: 768px) {
  .menuText {
   font-size: 13px;
  }
}
.menuText:hover{
  font-weight: bold;
  cursor:pointer;
}

.NavBarLink {
  text-decoration: none;;
}