.CardWrapper{
  display:flex;
  padding:20px;
}

.OfertaImg {
  width: 90%;
}
/* @media (max-width: 767px) {
  .OfertaImg {
    width:250px;
    height: 150px;
  }
} */

.ExpirationDateContainer {
  border-radius: 20px;
  background-color: #d1b15d
  ;
  width: 200px;
}
@media (max-width: 768px) {
  .ExpirationDateContainer {
   max-width:150px;
  }
}
.ArrowButton {
  margin:auto;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius: 50%;
  font-size: 50px;
  border-color:transparent;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .ArrowButton {
    width:10px;
    height: 10px;
    margin: auto;
    margin-left:-10px;
    font-size:20px;
  }
}

.ArrowButton:hover{
  cursor: pointer;
  font-weight: bold;
}
