
.FooterWrapper {
  width: 100%;
  background-color: #2e1d19;
  height: 100px;
  display:flex;
  justify-content: space-around;

}
.logoPE{
  max-width: 80%;
  max-height: 80%;
}
.ContactInfoContainer{
  color:white;
}
.LogoContainer {
  padding:20px;
}