
.Hero {
  /* background-color:#408874; */
  background-color: #a5d5c7;
  width: 100%;
  margin-top: 70px;
}

.HeroTitle {
  margin:0;
  padding:20px;
  font-size: 70px;
}

.logo_pe {
  max-width: 20%;
  max-height: 20%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .logo_pe {
    max-width: 70%;
    max-height: 70%;
  }
}