.MainDiv {
  height:500px;
  background-color:#933b30;
}
.MainTitle {
  margin: 0;
  padding:20px;
}

.TakeMoney {
  width:350px;
  height: 250px;
}
@media (max-width: 768px) {
  .TakeMoney {
    width:150px;
    height: 100px;
  }
}

.Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
@media (max-width: 768px) {
  .Wrapper {
   display:grid;
   grid-template-columns:1fr
  }
}

.OrdersList {
  list-style-type: none;
}